/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuration du body */
body {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 40px 120px 1fr 40px;
    grid-template-areas: 
    "bandeau bandeau"
    "menu-haut contenu"
    "menu-bas contenu"
    "pied pied";
    height: 100vh;
    font-family: Arial, sans-serif;
    gap: 2px;
    background-color: #000000;
}

/* Bandeau (header) */
.bandeau {
    grid-area: bandeau;
    background-color: #00bcd4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: bold
}
.menu-haut{
    grid-area: menu-haut;
    background-color: #8bc34a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: bold;
    padding: 10px;
    font-size: 0.9em;
}
.menu-bas{
    grid-area: menu-bas;
    background-color: #570000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: bold;
    padding: 10px;
    font-size: 0.9em;

}
.block-news{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    font-weight: bold;
    font-size: 20px;

}
/* Contenu principal */
.contenu {
    grid-area: contenu;
    background-color: #ffd700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
}
#po{
    color: red;
    padding: 30px;
}

/* Pied de page (footer) */
.pied-de-page {
    grid-area: pied;
    background-color: #00e676;
    display: flex;
    align-content: center;
    justify-content: center;
    color: #333;
    font-weight: bold;
}